<section class="main pt-4">
  <div class="container px-0">
    <div class="banner-main">
      <div class="banner">
        <div class="card text-dark border-0">
          <img src="../../../assets/images/banner.png" class="card-img " alt="Изображение банера">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="row w-100">
              <div class="col-1"></div>
              <div class="col-8">
                <h5 class="card-title mb-5 fs-1 fw-bold title">Скидки на травянные чаи</h5>
                <p class="mb-5 text">Узнай все подробности, заполнив заявку</p>
                <button type="button" class="btn btn-primary px-5 btn-text hvr-grow">Заполнить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="questions">
  <div class="container">
    <h2 class="fw-bold text-center my-5 fs-2 title-2">Ответы на часто задаваемые вопросы</h2>
    <div class="row justify-content-center  wow animate__backInLeft">
      <div class="col-8">

        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item mb-3 border-0 bg-transparent">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed bg-primary text-white rounded-3" type="button"
                      data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                      aria-controls="flush-collapseOne">
                Собираете ли вы подарочные боксы?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> Да, у нас есть такая услуга. Мы можем собрать подарочный бокс
                на любой
                вкус, объем и стоимость!
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 border-0 bg-transparent">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed bg-primary text-white rounded-3" type="button"
                      data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                      aria-controls="flush-collapseTwo">
                Сколько у вас разновидностей чая?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Очень много!</div>
            </div>
          </div>

          <div class="accordion-item mb-3 border-0 bg-transparent">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed bg-primary text-white rounded-3" type="button"
                      data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                      aria-expanded="false"
                      aria-controls="flush-collapseThree">
                В какой срок осуществляется доставка?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">В течении 30 минут!</div>
            </div>
          </div>

          <div class="accordion-item mb-3 border-0 bg-transparent">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed bg-primary text-white rounded-3" type="button"
                      data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                      aria-controls="flush-collapseFour">
                У вас обновляется ассортимент?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingFour"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Ассортимент обновляется каждый раз когда появляется новый
                вкус!
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 border-0 bg-transparent">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed bg-primary text-white rounded-3" type="button"
                      data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false"
                      aria-controls="flush-collapseFive">
                Какого объема у вас пачки чая?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingFive"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Объём выбираете вы сами!</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Оповещение</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalClose()"></button>
      </div>
      <div class="modal-body">
        Посмотрите наши чайные коллекции
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" routerLink="/catalog">Смотреть</button>
      </div>
    </div>
  </div>
</div>
