@media screen and (max-width: 1440px) {
  .card {
    max-width: 100%;
    height: 100%;
  }

  .questions .container {
    margin: 0 auto;
  }

  .card .card-text {
    height: 72px;
  }

  .title{
    font-size: 30px!important;
    margin-bottom: 30px!important;
  }

  .text{
    margin-bottom: 30px!important;
  }

}


@media screen and (max-width: 995px) {
  .card .card-text {
    height: 85px;
  }
}


@media screen and (max-width: 520px){
  .text{
    font-size: 14px;
  }
  .btn-text{
    font-size: 12px;
  }
}


@media screen and (max-width: 465px){
  .text{
    font-size: 10px;
    margin-bottom: 20px!important;
  }
}
